h2 {
  margin-bottom: 20px;
}
a:hover { text-decoration: none; }
.product {
  margin-bottom: 5px;
}

.text-center { text-align: center; display: block; }
.image-box {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #dcdcdc;
  margin-right: 10px;
  vertical-align: top;
}

.color-box {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  vertical-align: top;
}

.product-info-box {
  display: inline-block;
  width: calc(100% - 120px);
  vertical-align: top;
}

.delete-form {
  display: inline-block; width: auto; height: auto;
  button { border-color: #d9534f; }
}

//

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  &.label-info { background-color: #5bc0de; }
  &.label-warning { background-color: #f0ad4e; }
  &.label-danger { background-color: #d9534f; }
  &.label-success { background-color: #5cb85c; }
}


//

.navbar-inverse {
  background-color: #333; color: #fff;
  a { color: #fff; background-color: #333; }
}

.navbar-expand-md .navbar-nav .dropdown-menu { background-color: #333; }
